 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #7D4992;
active-foreground: #EED6D0;
normal-background: #282325;
normal-foreground: #EED6D0;
urgent-background: #884F9E;
urgent-foreground: #EED6D0;

alternate-active-background: #302D8E;
alternate-active-foreground: #EED6D0;
alternate-normal-background: #282325;
alternate-normal-foreground: #EED6D0;
alternate-urgent-background: #282325;
alternate-urgent-foreground: #EED6D0;

selected-active-background: #884F9E;
selected-active-foreground: #EED6D0;
selected-normal-background: #884F9E;
selected-normal-foreground: #EED6D0;
selected-urgent-background: #7D4992;
selected-urgent-foreground: #EED6D0;

background-color: #282325;
background: rgba(0,0,0,0.7);
foreground: #EED6D0;
border-color: #7D4992;

color0: #4F494B;
color1: #231531;
color2: #271736;
color3: #24226A;
color4: #5E366E;
color5: #663B76;
color6: #9A675A;
color7: #DEBCB3;
color8: #9B837D;
color9: #2E1C42;
color10: #341F48;
color11: #302D8E;
color12: #7D4992;
color13: #884F9E;
color14: #CE8978;
color15: #DEBCB3;


}

